@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    padding: 20px;
  }
  
  .flashcards {
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    border-radius: 7px;
    aspect-ratio: 2 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .selected {
    border: 1px solid #e03131;
    background-color: #e03131;
    color: #fff;
    font-weight: bold;
  }
  